@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #7f27ff;
  --secondary-color: #ff2e63;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
